.repositoryInfo
    .repositoryDetail
        margin: 5%
        padding: 15px
        .lines
            margin-bottom: 10px
        .clock-icon
            vertical-align: middle
            margin-right: 10px
        .commandDisplay
            line-height: 300%
            border-radius: 5px
            padding: 0 15px
            margin-top: 5px
    .tagsDetail
        margin: 5%
        padding: 15px
        .lines
            margin-bottom: 10px