.repositoryInfo
    max-width: 70%
    margin: auto
    .repositoryDetail
        margin: 5%
        padding: 15px
        .lines
            margin-bottom: 10px
        .clock-icon
            vertical-align: middle
            margin-right: 10px
        .commandDisplay
            line-height: 300%
            border-radius: 5px
            padding: 0 15px
            margin-top: 5px
    .tagsDetail
        margin: 5%
        padding: 15px
        .iconWrapper
            height: 24px
            width: 24px
        .icon
            height: 24px
            width: 24px
        .lines
            margin-bottom: 10px
        .moreBtn
            color: #1976d2
            cursor: pointer
        .moreBtn:focus
            color: purple

@media (max-width: 1199px)
    .repositoryInfo
        max-width: 90%